.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}

/* for contac button highlight  */
.btn{
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    /* for smoth user interface button  */
    transition: all .3s ease;
}

/* for contact button color  */
.btn-primary{
    background: var(--primary);
    color: var(--dark);
}
.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary)

}